body {
  margin: 0;
  text-align: center;
  font-family: verdana, Arial, sans-serif;
  color: #40514e;
  background-color: #68b0ab;
}

p {
  line-height: 2;
  }



h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  font-family: 'Merriweather', serif;
  color: #11999e;
  font-weight: bold;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.skill-row {
  width: 50%;
  align-content: center;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1;
}


.profile {
  width: 40%;
  align-content: center;
  margin: 0 auto 0 auto;
}

.img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.img1 {
  width: 40%;
}

.img2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}


.middle-container {
  background-color: white;
  margin: 10px 0 0 0;
}

.hello {
  font-weight: bold;
}

.para {
  color: #40514e;
  font-weight: bold;

}


.first-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.second-cloud {
  position: absolute;
  left: 300px;
  bottom: 240px;
}


.border{
  border-style: dotted none none none;
  width: 5%;
  border-color: #EAF6F6;
  border-width: 10px;

}

.Risk {
  text-decoration: underline;
}

.btn {
  color: #11999e;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  align-content: center;
  display: inline-block;
  margin: 20px 20px 0 20px;
}

.btn:hover
{
  color: #eaf6f6;
}

.signature{
  color: #eaf6f6;
  font-size: 12px;
  margin-top: 20px;
}


.end-box{
  top: 25px;
  background-color: #66bfbf;
  height: 80px;
  width: auto;
}

.BUTTON {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 100px auto;
}

.BUTTON:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

.html{bottom:0;}
